* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh; 
  font-family: 'Courier New', Courier, monospace;
}

#arenaContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#generateTextButton {
  width: auto;
  height: auto;
  padding: 2em 2em;
  font-family: sans-serif;
  margin-bottom: 1em;
  border: solid 2px #0000D8;
  border-radius: 10px;
  background: #fff;
  transition: all 0.2s ease-in-out, color 0.13s ease-in;
  outline: none;

  &:hover {
    background: #0000D8;
    color: #fff;
    transform: scale(1.2);
  }

  &:active {
    color: black;
    border: solid 3px #000;
  }
}

#typingArea {
  width: 80%;
  height: 11em;

  #textContainer {
    text-align-last: center;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    max-height: 100%;
    padding: 2.5em;
    overflow: hidden;
    outline: none;
    caret-color: transparent;
  }
}

.cursor {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 1.2em;
    background: #000;
    left: 0;
    top: 0;
  }
}

.letter {
  &.correct {
    color: #009500;
  }
  &.incorrect {
    color: #a70000;
    text-decoration: underline;
  }
  &.temporary {
    opacity: 0.6;
  }
}

.highlight {
  background-color: #e0e0e0;
}

.space {
  background-color: #fff;
}
